.container {
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    overflow: auto;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: bottom;
}